:root {
  --contentBackground: #ffffff;
  --writeBorder: #e2e1de;
  --contentHorizontal: #bebebe;
}

[data-theme='dark'] {
  --contentBackground: #1d2226;
  --writeBorder: #222222;
  --contentHorizontal: #383d40;
}

.content_card {
  background-color: var(--contentBackground);
  border-radius: 12px;
  border: 1px solid var(--writeBorder);
  margin-bottom: 1%;
}

.content_info {
  display: flex;
  margin: 3%
}

.content_details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.content_intro {
  display: flex;
}

.content_connection {
  margin-left: 2%;
  color: #6a6a6a;
  font-size: 14px;
}

.content_avatar {
  height: 48px !important;
  width: 48px !important;
}

.content_name {
  font-size: 15px;
  font-weight: 550;
}

.content_title {
  font-size: 13px;
  color: #6a6a6a;
}

.content_timestamp {
  font-size: 13px;
  color: #6a6a6a;
}

.content_data {
  margin: 4% 4% 2.5% 4%;
  /* border: 1px solid green; */
  font-size: 15px;
}

.content_photo {
  width: 100%;
  margin-bottom: 5%;
}

.content_interaction {
  display: flex;
  justify-content: center;
  color: #666666;
  margin: 1% 2%;
  border-top: 1px solid var(--contentHorizontal);
  left: 30%;
  right: 30%
}

.content_icon_button {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  /* border: 1px solid red; */
  padding: 3% 5%;
}

.content_icon_button:hover {
  background-color: #d3d3d3;
  border-radius: 12px;
  cursor: pointer;
}

.content_icon {
  margin-right: 6%;
}
