:root {
  --contentBackground: #ffffff;
  --writeBorder: #e2e1de;
  --contentHorizontal: #bebebe;
  --contentName: #000000;
  --contentDetails: #6a6a6a;
  --contentData: #000000;
  --contentInteraction: #666666;
  --contentHover: #d3d3d3;
}

[data-theme='dark'] {
  --contentBackground: #1d2226;
  --writeBorder: #222222;
  --contentHorizontal: #383d40;
  --contentName: #e7e7e8;
  --contentDetails: #626568;
  --contentData: #e5e5e6;
  --contentInteractionl: #e9e9ea;
  --contentHover: #9c9e9f;
}

.content_card {
  background-color: var(--contentBackground);
  border-radius: 12px;
  border: 1px solid var(--writeBorder);
  margin-bottom: 1%;
}

.content_info {
  display: flex;
  margin: 3%
}

.content_details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-left: 2%;
}

.content_intro {
  display: flex;
}

.content_connection {
  margin-left: 2%;
  color: var(--contentDetails);
  font-size: 14px;
}

.content_avatar {
  height: 48px !important;
  width: 48px !important;
}

.content_name {
  font-size: 15px;
  font-weight: 550;
  color: var(--contentName)
}

.content_title {
  font-size: 13px;
  color: var(--contentDetails);
}

.content_timestamp {
  font-size: 13px;
  color: var(--contentDetails);
}

.content_data {
  margin: 4% 4% 2.5% 4%;
  /* border: 1px solid green; */
  font-size: 15px;
  color: var(--contentData);
}

.content_photo {
  width: 100%;
  margin-bottom: 5%;
}

.content_interaction {
  display: flex;
  justify-content: center;
  color: var(--contentInteractionl);
  margin: 1% 2%;
  border-top: 1px solid var(--contentHorizontal);
  left: 30%;
  right: 30%
}

.content_icon_button {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  /* border: 1px solid red; */
  padding: 3% 5%;
}

.content_icon_button:hover {
  background-color: var(--contentHover);
  border-radius: 12px;
  cursor: pointer;
}

.content_icon {
  margin-right: 6%;
}
