:root {
  --contentBackground: #ffffff;
  --leftBorder: #e2e1de;
  --LeftDataName: #000000;
  --leftHortizontal: #e2e1de;
  --leftStats: #777777;
  --leftBlue: #0d66c2;
  --itemsBookmark: #666666;
  --myItems: #000000;
  --leftHover: #e2e1de;
  --discoverMore: #666666;
}

[data-theme='dark'] {
  --contentBackground: #1d2226;
  --leftBorder: #2d2f30;
  --LeftDataName: #e9e9ea;
  --leftHortizontal: #383d40;
  --leftStats: #a1a3a4;
  --leftBlue: #6fb3f7;
  --itemsBookmark: #a5a7a8;
  --myItems: #e8e8e9;
  --leftHover: #444444;
  --discoverMore: #e8e8e9;
}

/* #2d2f30 */

.left_top {
  border: 1px solid var(--leftBorder);
  background-color: var(--contentBackground);
  display: flex;
  flex-direction: column;
  width: 225px;
  border-radius: 12px;
  margin-bottom: 2.5%;


  /* margin-left: 5%; */
}


.left_images img {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.left_avatar {
  display: flex;
  justify-content: center;
  margin-top: -18.3%;
}

.left_images_avatar {
  height: 68px !important;
  width: 68px !important;
  border: 2px solid var(--contentBackground);
}

.left_data {
  border-bottom: 1px solid var(--leftHortizontal);
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding-bottom: 7%;
}

.left_data h2 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  font-weight: 550;
  margin-bottom: 2%;
  color: var(--LeftDataName);
}

.left_data p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  width: 80%;
  font-size: 13px;
  color: #777777;
  margin-left: 10%;
  margin-right: 10%;
}

.left_stats {
  /* border: 1px solid green; */
  padding: 5% 0%;
  border-bottom: 1px solid var(--leftHortizontal);
  font-weight: 550;
  color: var(--leftStats);
  font-size: 12px;
  /* width: 95%; */
  
}

.left_stats_top {
  display: flex;
  /* border: 1px solid green; */
  /* margin-bottom: 2%; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  padding: 1.7% 0%;
  /* padding-top: 0%; */
  width: 100%
}

.left_stats_top_inner {
  width: 90%;
  display: flex;
  margin-left: 5%;
}

.left_stats_bottom_inner {
  /* display: flex; */
  /* border: solid 1px red; */
  width: 90%;
  margin-left: 5%;
}

.left_stats_top:hover {
  background-color: var(--leftHover);
  cursor: pointer;
}

.left_stats_bottom:hover {
  background-color: var(--leftHover);
  cursor: pointer;
}

.left_stats_bottom {
  display: flex;
  /* border: 1px solid green; */
  flex-direction: column;
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 1.7% 0%;
  width: 100%;
}

.stat_number {
  color: var(--leftBlue);
  display: flex;
  margin-left: auto;
  /* border: 1px solid red; */
}

.grow {
  color: #000000;
  /* border: 1px solid orange; */
}

.stats_connections {
  display: flex;
}

.my_items {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 12px;
  padding: 5% 0%;
  margin-left: 5%;
  color: var(--myItems)
}

.my_items_bookmark {
  color: var(--itemsBookmark);
  font-size: 20px !important;
}

.left_bottom {
  border: 1px solid var(--leftBorder);
  background-color: var(--contentBackground);
  display: flex;
  flex-direction: column;
  width: 225px;
  border-radius: 12px;
  color: var(--leftBlue);
  font-weight: 550;
  font-size: 12px;

  top: 2%;
  position: sticky;
  padding-top: 5%;

  /* margin-left: 5%; */
}

.left_bottom_item {
  padding: 3.5% 0%;
  padding-left: 5%;
}

.groups {
  padding-top: 7%;
}

.hastags {
  padding-bottom: 4%;
  border-bottom: 1px solid var(--leftHortizontal);
}

.discover_more {
  color: var(--discoverMore);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
  font-weight: 550;
  font-size: 14px;
}