.nav_bar {
  /* border: 1px solid blue; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 0.3%;
  height: 48px;
}

.left_nav {
  display: flex;
  /* border: 1px solid red; */
}

.linkedin_icon {
  color: #0d66c2;
  font-size: 45px !important;
}


.middle_nav {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 40%
}

.nav_button {
  display: flex;
  flex-direction: column;
  color: #666666;
  justify-content: center;
  align-items: center;
  /* margin: 0% 0.75%; */
  padding: 0% 3%;
  flex-wrap: nowrap;
  /* border: 1px solid purple; */
  text-decoration: none;
}

.nav_button:hover{
  color:#191919;
}

.nav_words {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  /* padding: 0% 35%; */
  flex-wrap: nowrap;
  /* border: 1px solid blue; */
  flex-wrap: nowrap;
  width: 105%;
  padding-bottom: 10%;
}

.my_network {
  /* width: 200px; */
  /* color: red; */
}

.nav_icon {
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}

.nav_icon_arrow {
  /* border: 1px solid red; */
  height: 20px !important;
}

.nav_avatar {
  height: 25px !important;
  width: 25px !important;
}




.right_nav {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}