.nav_bar {
  /* border: 1px solid blue; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 0.3%;
}

.left_nav {
  display: flex;
}

.linkedin_icon {
  color: #0d66c2;
  font-size: 45px !important;
}


.right_nav {
  display: flex;
}

.nav_button {
  display: flex;
  flex-direction: column;
  color: #666666;
  justify-content: center;
  /* align-items: center; */
  margin: 0% 0.75%;
  padding: 1% 7%;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
}

.nav_button:hover{
  color:#191919;
}

.nav_words {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  /* padding: 0% 35%; */
  flex-wrap: nowrap;
  /* border: 1px solid red; */
}