:root {
  --newsCardTitle: #000000;
  --newsCardSubtitle: #6c6c6b;
}

[data-theme='dark'] {
  --newsCardTitle: #e9e9ea;
  --newsCardSubtitle: #a3a5a6;
}

.newscard {
  /* margin-bottom: 5%; */
  /* border: 1px solid red; */
  width: 90%
}

.newscard_title {
  font-size: 15px;
  font-weight: 550;
  color: var(--newsCardTitle);
}

.newscard_subtitle {
  color: var(--newsCardSubtitle);
  font-size: 13px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";
  color: var(--newsCardTitle);
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
  font-size: 25px;
}