:root {
  --contentBackground: #ffffff;
  --rightBorder: #e2e1de;
  --newsColor: #000000;
  --smallText: #6c6c6b;
}

[data-theme='dark'] {
  --contentBackground: #1d2226;
  --rightBorder: #2d2f30;
  --newsColor: #e9e9ea;
  --smallText: #535759;
}

.right_home_top {
  width: 320px;
  border: 1px solid var(--rightBorder);
  background-color: var(--contentBackground);
  border-radius: 12px;
  padding-bottom: 4%;
  margin-bottom: 2%;
}

.right_home_title {
  font-size: 16px;
  font-weight: 550;
  padding: 4% 0% 2% 4%;
  color: var(--newsColor);
}

.right_home_bottom {
  top: 0;
  position: sticky;
  padding-top: 3%;
}

.small_text {
  color: var(--smallText);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.small_text_line {
  display: flex;
  /* border: 1px solid green; */
  width: 80%;
  justify-content: center;
}

.small_text_line p {
  /* border: 1px solid red; */
  padding: 2.5% 3.5%;
  /* width: 150% */
  cursor: pointer;
}

.small_text_line p:hover {
  color: #0d66c2;
  text-decoration: underline;
}

.developed_by {
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  top: 0;
  position: sticky;
}